@model IEnumerable<TAMS.Entity.Category>

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    <link rel="stylesheet" href="../../../Content/bootstrap-4.0.0-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../../Content/style.css" />
</head>
<body>
    <div class="container">
        <h4>Category</h4>
        <hr />
        <form action="/ManagerCategory/Create" method="POST" id="form-create" class="form-horizontal">
            <div class="form-group">
                <label class="h6">Name:</label>
                <input class="form-control" type="text" id="Name" name="Name" autocomplete="off" />
            </div>
            <div class="form-group">
                <label class="h6">Slug:</label>
                <input class="form-control" type="text" id="Slug" name="Slug" autocomplete="off" />
            </div>
            <div class="form-group">
                <label class="h6">Parent Category:</label>
                <select form="form-create" class="form-control" id="ParentId " name="ParentId">
                    @foreach (var item in Model)
                    {
        <option value="@item.Id">@item.Name</option>}
                </select>
            </div>
            <div class="form-group">
                <label class="h6">Active:</label>
                <input type="checkbox" form="form-create" id="Active" name="Active" value="true" />
            </div>
            <button type="submit" class="btn btn-default"> Create</button>
        </form>


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
